/*Toolbar*/
.ui-menu{
	background:none !important;
}
.ui-menubar{
	width:
}
.ui-widget-content{
	border:none !important;
}
.navbar form{
	margin:0;
}

/*File upload*/
.fileupload-content .name, .fileupload-content .size, .fileupload-content .progress{
	display:none;
}